<div class="row">
  <div class="col-md-12 ">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">ADD LOCATION </h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Stage</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Stage"
                  value=""
                />
              </div>
            </div>
            <div class="col-md-6 px-1">
              <div class="form-group">
                <label>Zone</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Zone"
                  value=""
                />
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Location Name</label>
                <input type="text" class="form-control" placeholder="Location Name" />
              </div>
            </div>  
          </div>
          <div class="row">
            <div class="update ml-2">
              <button type="submit" class="btn btn-primary btn-round">
                Add Location
              </button>
              <button routerLink="/master/location" type="submit" class="btn btn-warning btn-round">
                Back
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
