<div class="row">
    <div class="col-md-12 ">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">ADD SERVICES </h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Group Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Group Name"
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Service Zone</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Service Zone"
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Service Name</label>
                  <input type="text" class="form-control" placeholder="Service Name" />
                </div>
              </div>  
              <div class="col-md-6 px-1">
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Group Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Group Name"
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Service Zone</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Service Zone"
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label>Set as Sub-Service</label>
                  <div class="radiobuttons form-check form-check-inline">
                    <div class="rdio rdio-primary radio-inline pl-1 pr-1 mr-1 ml-2"> <input name="radio" value="true" id="subService" type="radio" checked>
                      <label for="subService">Yes</label>
                    </div>
                    <div class="rdio rdio-primary radio-inline pl-1">
                      <input name="radio" value="false" id="unsubService" type="radio">
                      <label for="unsubService">No</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label>Active</label>
                  <div class="radiobuttons form-check form-check-inline">
                    <div class="rdio rdio-primary radio-inline pl-1 pr-1 mr-1 ml-2"> <input name="radio" value="true" id="active" type="radio" checked>
                      <label for="active">Yes</label>
                    </div>
                    <div class="rdio rdio-primary radio-inline pl-1">
                      <input name="radio" value="false" id="inactive" type="radio">
                      <label for="inactive">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-2">
                <button type="submit" class="btn btn-primary btn-round">
                  Add Services
                </button>
                <button routerLink="/master/services" type="submit" class="btn btn-warning btn-round">
                  Back
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  