<div class="row">
    <div class="col-md-12 ">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">ADD KIOSK </h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>kiosk No</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="kiosk No"
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>kiosk Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="kiosk Name"
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Mac Address</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Mac Address"
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Ip Address</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ip Address"
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                    <label>Active</label>
                    <div class="radiobuttons form-check form-check-inline">
                      <div class="rdio rdio-primary radio-inline pl-1 pr-1 mr-1 ml-2"> <input name="radio" value="true" id="radio1" type="radio" checked>
                        <label for="radio1">Yes</label>
                      </div>
                      <div class="rdio rdio-primary radio-inline pl-1">
                        <input name="radio" value="false" id="radio2" type="radio">
                        <label for="radio2">No</label>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-2">
                <button type="submit" class="btn btn-primary btn-round">
                  Add kiosk
                </button>
                <button routerLink="/master/kiosk" type="submit" class="btn btn-warning btn-round">
                  Back
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  