<div class="row">
  <div class="update ml-auto">
    <button routerLink="/master/kiosk/add" class="btn btn-primary btn-round">
      Add Kiosk
    </button>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">KIOSK</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <table class="table">
            <thead class="text-primary">
              <th>Sr.</th>
              <th>Kiosk No.</th>
              <th>Kiosk Name</th>
              <th>Mac Address</th>
              <th>Ip Address</th>
              <th>Active</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of kioskList; let i = index">
                <td>{{item?.id}}</td>
                <td>{{item?.kioskNo}}</td>
                <td>{{item?.kioskName}}</td>
                <td>{{item?.macAddress}}</td>
                <td>{{item?.ipAddress}}</td>
                <td class="text-center">
                  <span *ngIf="item?.isActive" class="text-success">
                    Yes
                  </span>
                  <span *ngIf="!item.isActive"  class="text-danger">
                    No
                  </span>
                </td>
                <td>
                  <button [routerLink]="['/master/kiosk/edit', item.id]" style="border: 0px solid #6bd098 !important" class="btn btn-outline-success">
                    <i class="nc-icon nc-tag-content text-success"></i>
                  </button>
                  <button (click)="onDeletekiosk(item?.id)" style="border: 0px solid #ef8157 !important" class="btn btn-outline-danger">
                    <i class="nc-icon nc-simple-remove text-danger"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
